In [96]:
import pandas as pd
import numpy as np
import statistics

In [97]:
df = pd.DataFrame()

## Question 1

In [98]:
gerg, marica, peter, jan, boddy, cindy, oliver = 14, 12, 11, 10, 8, 6, 8

In [99]:
df["name"] = ["greg", "marica", "peter", "jan", "boddy", "cindy", "oliver"]

In [100]:
df["age"] = [14, 12, 11, 10, 8, 6, 8]

In [101]:
df

     name  age
0    greg   14
1  marica   12
2   peter   11
3     jan   10
4   boddy    8
5   cindy    6
6  oliver    8

In [102]:
# central tendency data

mean = np.mean(df["age"])
# rounds to 2 decimal digits
mean = round(mean, 2)

median = np.median(df["age"])

mode = statistics.mode(df["age"])

print("the mean age is: {} \nthe median is: {} \nthe mode is: {}".format(mean, median, mode))

the mean age is: 9.86
the median is: 10.0
the mode is: 8

In [103]:
# variance data

var = df["age"].var()
std = np.sqrt(var)
std_err = std / np.sqrt(len(df["age"]))

# rounding to 3 decemial
var = round(var, 3)
std = round(std, 3)
std_err = round(std_err, 3)

print("the variance is: {} \nthe standard deviation is: {} \nthe standart error is: {}".format(var, std, std_err))

the variance is: 7.476
the standard deviation is: 2.734
the standart error is: 1.033

## Question 2
### I would choose the mean and the standard error since they give more sense of the data

## Question 3
### if Cindy is now 7 years old, the mean, variance, std, and std error will change, since they are all dependent of this change. the mode, and median will not change (in this data set)

In [104]:
cindy += 1

In [105]:
# show which data was changed and which wasn't

mean_new = np.mean(df["age"])
median_new = np.median(df["age"])
mode_new = statistics.mode(df["age"])

var_new = df["age"].var()
std_new = np.sqrt(var)
std_err_new = std / np.sqrt(len(df["age"]))

# # rounding to 3 decemial
# mean_new = round(mean, 3)
# var_new = round(var, 3)
# std_new = round(std, 3)
# std_err_new = round(std_err, 3)

print("the difference is very small, but these are the new numbers")
print("the new values of mean, median and mode are - {}, {}, {}".format(mean_new, median_new, mode_new))
print("the values of variance, standard deviation and standart error are - {}, {}, {}".format(var_new, std_new, std_err_new))

the difference is very small, but these are the new numbers
the new values of mean, median and mode are - 9.857142857142858, 10.0, 8
the values of variance, standard deviation and standart error are - 7.476190476190475, 2.7342274960214996, 1.0333548692072272

## Question 4

In [106]:
df.iloc[6]

name    oliver
age          8
Name: 6, dtype: object

In [107]:
df.iloc[6] = "2"

In [108]:
df.iloc[6]

name    2
age     2
Name: 6, dtype: object

In [109]:
df.at[6, "name"] = "Jessica"
df.at[6, "age"] = 1

In [110]:
df

      name age
0     greg  14
1   marica  12
2    peter  11
3      jan  10
4    boddy   8
5    cindy   6
6  Jessica   1

### I still would choose the mean and std error; I think that in general they can help us the most to understand the data we have

## Question 5

## The people who read the SciPhi Phanatic are probably not the main target of that show. Yet, the average would be about 16% if we take all magazine into consideration and have the same weight